/*Fuentes*/
@font-face {
    font-family: "GoldmanB";
    src: url(../fuentes/Goldman-Bold.ttf);
}

@font-face {
    font-family: "GoldmanR";
    src: url(../fuentes/Goldman-Regular.ttf);
}
@font-face {
    font-family: "Voces";
    src: url(../fuentes/Voces-Regular.ttf);
}
@font-face {
    font-family: "knewave";
    src: url(../fuentes/Knewave-Regular.ttf);
}
@font-face {
    font-family: "Ephesis";
    src: url(../fuentes/Ephesis-Regular.ttf);
}



/*Clases generales*/

.p-header-letters {
    font-family: "GoldmanR";
    font-size: 30px;
    margin-bottom: 5%;
    padding-left: 2%;
}

a {
    color: rgb(106, 70, 239);
    font-family: "knewave";
    font-size: 20px;
    letter-spacing: 2px;
    padding-left: 2%;
    text-decoration: none;
}

a:hover {
    color: rgb(89, 58, 198);
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    max-width: 100%;  
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    position: relative;
}

/*CABECERA*/
.div-header-container {
    background-color:rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    padding-top: 3%;
    padding-bottom: 3%;
    position: fixed;
    width: 100%;

}
.sub-header-container {
    background: rgb(255, 255, 255);
    padding: 1%;
    width: 90%;
}

.header-icono-menu {
    display: none; 
    background: none;
    border: none;
    font-size: 30px;
    cursor: pointer;
    padding: 10px;
    color: black; 
}

.sub-header-container ol {
    display: flex;
    gap: 8%;
    justify-content: center;
    list-style: none;
    margin: 0% 2% 0% 2%;
    width: auto;
    
}

.sub-header-container ol li {
    
    flex-direction: row;
    margin-top: .5%;
    margin-bottom: .5%;

}

.sub-header-container ol li a {
    color: rgb(0, 0, 0);
    font-family: "GoldmanB";
    font-size: 25px;
    text-decoration: none;    
}
    
.sub-header-container ol li:hover a {
    color: rgb(0, 0, 255);
}


/*DESCRIPCION*/

.p-code-your-reality {
    font-family: "Ephesis";
    font-size: 50px;
    margin-top: 5%;
}

.div-image-enterprise {
    background-color: rgb(0, 0, 0);
    display: flex;
    padding-top: 8%;
    width: 100%;
}

.div-image-enterprise img {
    flex-wrap: wrap;
    margin: 5%;
    padding-left: 2%;
    width: 40%;
    

}

.div-text-descripcion{
    flex-wrap: wrap;
    color: rgb(255, 255, 255);
    padding: 5%;
    
}

.p-description {
    font-family: "Voces";
    font-size: 20px;
    padding: 2%;
    text-align: justify;
}



/*Mision*/

.div-text-mision-containers {
    background-color: rgb(26, 26, 26);
    color: rgb(255, 255, 255);
    display: flex;
    padding: 7% 0 7% 0;
    align-items:start;

}
/*Colocarle un estilo de degradado de animacion al ojo*/
.diamante-mision {
    text-align: center;
    font-size: 400px;
    flex-wrap: wrap;
    animation: cambio-de-color 10s infinite ease;

    width: 100%;

}

@keyframes cambio-de-color {
    0%{
        color: rgb(255, 255, 255);
    }
    25% {
        color: rgb(106, 70, 239);
    }
    50% {
        color:rgb(0, 0, 255);
    }
    75% {
        color: rgb(106, 70, 239);
    }
    100% {
        color: rgb(255, 255, 255);
    }
}

.div-text-mision {
    flex-wrap: wrap;
    padding-left: 5%;
    width: 50%;
}

.p-mision {
    font-family: "Voces";
    font-size: 20px;
    padding: 2% 2% 5% 2%;
    text-align: justify;
}


/* VISION*/
.div-text-vision-containers {
    background-color: rgb(18, 16, 16);
    color: rgb(255, 255, 255);
    display: flex;
    padding: 7% 0 7% 0;
}

.div-text-vision {
    flex-wrap: wrap;
    width: 50%;
}

.ojo-vision {
    animation: cambio-de-color 10s infinite ease;
    font-size: 400px;
    flex-wrap: wrap;
    text-align: center;
    width: 100%;
}

.p-visions {
     font-family: "Voces";
    font-size: 20px;
    padding: 5% 10% 5% 2%;
    text-align: justify;
}

.p-strong {
    font-weight: 600;
}



/*OBJETIVOS*/
.div-text-objetivos-container {
    background-color: rgb(3, 3, 3);
    color: rgb(255, 255, 255);
    padding: 7% 0 7% 0;
}
.div-text-objetivos {
    text-align: center;
    margin-bottom: 5%;
}

.div-text-objetivos ol  {
    display: flex;
    gap: 10%;
    justify-content: center;
    list-style: none;
}

.div-text-objetivos ol li {
    flex-direction: row;
    flex-wrap: wrap;
}

/*.div-text-objetivos ol li:hover {
    color: rgb(106, 70, 239);
}*/

.div-text-objetivos ol li p {
    font-size: 30px;
    font-family:"Voces";
}

.iconos-objetivos {
    animation: cambio-de-color-1 10s infinite ease;
    margin-top: 10%;
    font-size: 120px;
}

@keyframes cambio-de-color-1 {
    0% {
        color: rgb(255, 255, 132);
    }
    50% {
        color: rgb(255, 255, 0);
    }
    100% {
         color: rgb(255, 255, 132);
    }
}
/*Valores*/
.div-text-valores-container {
    background-color: rgb(27, 27, 27);
    color: rgb(255, 255, 255);
    padding: 7% 0 7% 0;
}

.div-text-valores {
    text-align: center;
    margin-bottom: 5%;
}

.div-text-valores ol {
    display: flex;
    justify-content: center;
    list-style: none;
}

.div-text-valores ol li {
    font-family:"Voces";
    flex-wrap: wrap;
    margin-top: 5%;
    width: 33%;
}

.div-text-valores ol li p {
    font-size: 25px;
    font-family:"Voces";
}

.iconos-valores {
    animation: cambio-de-color 10s infinite ease;
    font-size: 120px;
    margin-top: 10%;

}

.div-text-valores-container a {
    padding-top: 10%;
    padding-left: 5%;
}

/*POLITICAS*/
.div-text-politicas-container {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    padding: 7% 0 7% 0;
}

.div-text-politicas {
    text-align: center;
    margin-bottom: 5%;
}

.div-text-politicas ol {
    display: flex;
    justify-content: center;
    list-style: none;
}

.div-text-politicas ol li {
    font-family:"Voces";
    flex-wrap: wrap;
    margin-top: 5%;
    width: 33%;
}

.div-text-politicas ol li p {
    font-size: 25px;
    font-family:"Voces";
}

.iconos-politicas {
    animation: cambio-de-color-1 10s infinite ease;
    font-size: 120px;
    margin-top: 10%;
}

/*Studio stats*/

.div-class-studio-stats {
    background-color: rgb(0, 0, 255);
    color: rgb(255, 255, 255);
    padding: 0% 0 2% 0;
}

.div-class-studio-stats ol {
    display: flex;
    justify-content: center;
    list-style: none;
}

.div-class-studio-stats ol li {
    font-family:"Voces";
    flex-wrap: wrap;
    margin: 2% 2% 0 2%;
    position:relative;
    width: 25%;
    z-index: 2;

}

.div-class-studio-stats ol li p:not(.p-header-stats,.p-numero-stats) {
    font-size: 15px;
    font-family:"knewave";
    width: 80%;
    text-align: center;

}

.p-header-stats {
    font-family: "Voces";
    font-size: 30px;
    width: 50%;
}

.p-numero-stats {
    color: yellow;
    font-size: 50px;
    font-family: "GoldmanB";
    text-align: center;
}

.studio-icons {
    color: rgba(0, 0, 0, 0.2);
    font-size: 100px;
    position: absolute;
    vertical-align: middle;  
    left: 20%;
    z-index: -1;
    
}

/*Footer socialmedia*/

.div-footer-rights-socialmedia {
    background-color: rgb(26, 26, 26);
    display: flex;
    width: 100%;
}

.div-footer-rights-socialmedia div {
    flex-wrap: wrap;
    width: 50%;
}

.footer-rights {
    color: rgb(104, 104, 104);
    font-family: "Voces";
    padding: 3% 5% 1% 5%;
}

.footer-socialmedia {
    text-align: end;
    padding: 1% 10% 0 0;
}
.footer-socialmedia img {
    width: 15%;
}




@media(max-width:600px) {
    .header-icono-menu {
        display: flex;
    }
    
    .sub-header-container ol {
        display: flex; 
        flex-direction: column;
        width: 100%;
        background-color: rgb(255, 255, 255);
        max-height: 0;  
        overflow: hidden;   
        opacity: 0;
        margin: 0;
        padding: 0;
        transition: max-height 0.5s ease-in-out, opacity 0.5s ease-in-out, padding 0.5s;
    }

    .sub-header-container ol.activo {
        max-height: 500px; 
        opacity: 1; 
        
    }

    .sub-header-container ol li {
        width: 100%;
        border: none;
        text-align: left;
    }

    .sub-header-container ol li a {
        display: block;
        border-bottom: 2px solid black;
        padding: 15px 10px;
    }
    
    .div-header-container {
        position: inherit;
    }
    .sub-header-container {
        padding: 0;
    }
    .sub-header-container ol {
        margin: 0;
        flex-direction: column;
    }
    .sub-header-container ol li {
        border: none;
    }
    .sub-header-container ol li a {
        border-bottom: 2px solid rgb(0, 0, 0);
        padding-bottom: 1px;
    }

    .div-image-enterprise {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .div-image-enterprise img {
        width: 50%;
    }

    .p-description {
        font-size: 15px;
    }

    .div-text-mision-containers {
        flex-direction: column;
        text-align: center;
    }

    .diamante-mision {
        font-size: 400px;
        flex-wrap: nowrap;
    }

    .div-text-mision {
        flex-wrap: nowrap;
        width: 100%;
    }

    .p-mision {
        font-size: 14px;
        width: 87%;
    }

    .div-text-vision-containers {
        display: flex;
        flex-direction: column;
        align-content: center;
    }

    .div-text-vision {
        flex-wrap: nowrap;
        width: 100%;
        align-items: center;
        text-align: center;
    }

    .p-visions {
        font-size: 15px;
        padding: 5% 8% 5% 8%;
    }

    .div-text-objetivos-container {
        text-align: center;
    }
    .div-text-objetivos {
        text-align: center;
    }

    .div-text-objetivos ol  {
        flex-direction: column;
    }

    .div-text-objetivos ol li p {
        font-size: 25px;
    }

    .iconos-objetivos {
        margin-bottom: 10%;
    }

    .div-text-valores-container {
        text-align: center;
    }

    .div-text-valores ol {
        flex-direction: column;        
    }

    .div-text-valores ol li {
        margin-top: 10%;
        width: 100%;
    }

    .iconos-valores {
        margin-top: 5%;
    }

    .div-text-politicas-container {
        text-align: center;
    }


    .div-text-politicas ol {
        flex-direction: column;
    }

    .div-text-politicas ol li {
        margin-top: 10%;
        width: 100%;
    }

    .iconos-politicas {
        margin-top: 5%;
    }

    .div-class-studio-stats {
        padding: 0;
    }

    .div-class-studio-stats ol {
        align-items: center;
        flex-direction: column;
    }

    .div-class-studio-stats ol li {
        width: 100%;
    }

    .div-class-studio-stats ol li p:not(.p-header-stats,.p-numero-stats) {
        border-bottom: 2px solid black;
        width: 100%;
    }

    .p-header-stats {
        width: 100%;
    }

    .studio-icons {
        top: -15%;
    }
    
    .footer-socialmedia img {
        width: 50%;
    }

}


@media(min-width:601px) and (max-width:1024px){
    
    .sub-header-container {
        width: 98%;
    }
    .sub-header-container ol {
        gap: 2%;
        margin: 0% 2% 0% 2%;
        
    }
    .sub-header-container ol li a {
        font-size: 18px;
    }

    
}

